<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vBudgetForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <vBudgetForm.Properties.Settings>
            <setting name="DefaultDataBase" serializeAs="String">
                <value>Budget</value>
            </setting>
            <setting name="UseIntegratedSecurity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserLogin" serializeAs="String">
                <value>budget</value>
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value>budgeter</value>
            </setting>
            <setting name="DataServers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>10.0.18.111\AQUILLA</string>
                        <string>YORKJOUGH</string>
                        <string>BLYUDOV\HASPSRMDATABASE</string>
                    </ArrayOfString>
                </value>
            </setting>
        </vBudgetForm.Properties.Settings>
    </userSettings>
</configuration>